<div >
  <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: white; border-bottom-style: solid; border-bottom-color: gray; border-bottom-width: 1px;">
    <!--this is the button with the issue-->
      <div class="container ">
      <div class="navbar-brand">
        <h1 class="display-4 logo"> teller</h1>
      </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcollapse" style="z-index: 1">
              <span class="navbar-toggler-icon"></span>
          </button>


      <div class="collapse navbar-collapse" id="navcollapse">

          <div class="navbar-nav d-flex ml-auto" style="">

          <a href="#"  class="nav-item nav-link">Home</a>
          <a href="#"  class="nav-item nav-link">Legal</a>

          <a href="#" class="nav-item nav-link">Press Kit</a>

          <div *ngIf="loggedIn">
            <a href="#" routerLink="account" class="nav-item nav-link">Account</a>
          </div>

          <div *ngIf="!loggedIn; else logOutButton">
            <a href="#"  class="nav-item nav-link">Log In</a>
          </div>
          <ng-template #logOutButton>
            <a href="#" (click)="signOut()" class="nav-item nav-link">Log Out</a>
          </ng-template>

          <div *ngIf="!loggedIn;">
            <button type="button"  class="btn btn-primary nav-item nav-link" id="signup-nav-button">Sign Up</button>
          </div>

        </div>


        </div>

      </div>

  </nav>

  
</div>

<!--footer-->


