<div class="wrapper">
  <div class="header" >
    <app-header></app-header>
  </div>

<!-- <button (click)="showNewBlog()" class="newblog" >Add a new Blog</button>  -->
<!-- <div *ngIf=showNew style="width:auto; margin:20 auto;">
  
      <app-blog>

      </app-blog>
  
</div>
<button *ngIf=showNew (click)="hideNewBlog()">Discard Draft!</button>  -->

<div class="body">
  <div *ngIf=blogService.showSelected style="width:auto; margin:20 auto;">
    
    <app-full-blog>  </app-full-blog>

  </div>

  <button *ngIf=blogService.showSelected (click)="displayAllBlogs()">Show all blogs!</button>

  <div *ngIf=!blogService.showSelected style="width:auto; margin:20 auto;">
          
    <app-blog-list>   </app-blog-list>
      
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>

</div>
  
