.wrapper {
    display: grid;
    grid-template-rows: auto minmax(700px, auto) minmax(200px, auto);
    grid-template-areas: 
        "header"
        "body"
        "footer";
    
}
.header {
    grid-area: "header"
}
.body {
    grid-area: "body";
    background-image: linear-gradient(to right, orange, white);
}
.footer {
    grid-area: "footer";
    background: rgb(41, 40, 40)
}