<br>
<br>

<hr>

<div class="wrapper" >
<h3>{{blogService.selectedBlog.title}}</h3>
<div><span class="greyBold">{{blogService.selectedBlog.authorName}}</span> | <span>{{timeConverter(blogService.selectedBlog._ts)}}</span></div>
<p class="serif">{{blogService.selectedBlog.content}}</p>
</div>
<br>
<h3>Comments</h3>

<div  *ngFor="let comment of blogService.selectedBlog.comments">
 <div class="comments" >
   "{{comment.content}}"
   <cite>- by <b>{{comment.authorName}}</b> at <b>{{timeConverter(comment._ts)}}</b></cite>
 </div>
 <br>
</div>
<h4>Add Comment</h4>
<form name="commentForm" #commentForm="ngForm" (ngSubmit)="onCommentSubmit(commentForm)" >
<div class="form-group">     
        <textarea name= "Content" #Content = "ngModel" [(ngModel)]="blogService.draftComment.content" cols="30" rows="10" placeholder="Insert your comment here" required></textarea>
        <div class="validation-error" *ngIf="Content.invalid && Content.touched">This Field is Required.</div>
          <label >by:</label>
        <input type="text" name= "AuthorName" #AuthorName = "ngModel" [(ngModel)]="blogService.draftComment.authorName"  placeholder="Name" required/> 
        <div class="validation-error" *ngIf="AuthorName.invalid && AuthorName.touched">This Field is Required.</div>
<br>       
        <input [disabled]="!commentForm.valid" type="submit" value="Submit"/>
<br>
</div> 
</form>